body {
  color: #323e42;
  text-shadow: 50px;
  align-content: center;
  align-items: center;
  background-color: #efdcf9;
}
.tes {
  color: #d8a7b1;
  align-items: center;
  text-align: center;
}
.gradient-custom {
  color: blue;

  /* fallback for old browsers */

  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #fae8e0, #fae8e0);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #fae8e0, #fae8e0);
}
