body {
  color: #323e42;
  text-shadow: 50px;

  background-color: #efdcf9;
  margin: 0;
}
.tes {
  color: #d8a7b1;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
