body {
    color: #323e42;
    text-shadow: 50px;
  
    background-color: #efdcf9;
    margin: 0;
  }

.w-220px {
    width: 220px;
}
.rounded-3 {
    border-radius: var(--bs-border-radius-lg) !important;
}
.gap-1 {
    gap: .25rem !important;
}
.p-2 {
    padding: .5rem !important;
}
.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.position-static {
    position: static !important;
}
.shadow {
    box-shadow: var(--bs-box-shadow) !important;
}
.d-grid {
    display: grid !important;
}
.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}
:root, [data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}


@media (min-width: 768px) {
    .bd-example {
        --bd-example-padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-radius: var(--bs-border-radius);
    }
}
.bd-example {
    --bd-example-padding: 1rem;
    position: relative;
    padding: var(--bd-example-padding);
    margin: 0 -1.5rem 1rem;
    border: solid var(--bs-border-color);
    border-width: 1px 0;
}
.m-0 {
    margin: 50px !important;
}
.border-0 {
    border: 0 !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
::after, ::before {
    box-sizing: border-box;
}
.bd-example::after {
    display: block;
    clear: both;
    content: "";
}




.only .card {
    --mdb-card-spacer-y: 1.5rem;
    --mdb-card-spacer-x: 1.5rem;
    --mdb-card-title-spacer-y: 0.5rem;
    --mdb-card-border-width: var(--mdb-border-width);
    --mdb-card-border-radius: 0.5rem;
    --mdb-card-box-shadow: 0 2px 15px -3px rgba(var(--mdb-box-shadow-color-rgb), 0.07), 0 10px 20px -2px rgba(var(--mdb-box-shadow-color-rgb), 0.04);
    --mdb-card-inner-border-radius: calc(0.5rem - (var(--mdb-border-width)));
    --mdb-card-cap-padding-y: 0.75rem;
    --mdb-card-cap-padding-x: 1.5rem;
    --mdb-card-cap-bg: rgba(255, 255, 255, 0);
    --mdb-card-height: ;
    --mdb-card-bg: var(--mdb-surface-bg);
    --mdb-card-img-overlay-padding: 1.5rem;
    --mdb-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px; 
    margin-right: 100px;
    height: var(--mdb-card-height);
    word-wrap: break-word;
    background-clip: border-box;
    border: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
    border-radius: var(--mdb-card-border-radius);
    box-shadow: var(--mdb-card-box-shadow);
}

.name-container {
    background-color: #7ce275;
    padding: 10px; /* Add some padding for spacing */
    border-radius: 5px; /* Add rounded corners */
    margin-left: 20px; 
  }

  .white-container {
    background-color: #ffffff; /* White background color */
    padding: 10px; /* Add some padding for spacing */
    border-radius: 5px; /* Add rounded corners */
    margin-right: 20px;
  }
  
  /* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Smaller modal size */
  .modal-content {
    background-color: #fefefe;
    margin: 20px auto; /* Adjusted margin */
    padding: 20px; /* Reduced padding */
    border: 1px solid #888;
    width: 60%; /* Reduced width */
    max-width: 400px; /* Added maximum width */
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  